html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  max-width: 1000px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Roboto", sans-serif;
}

.body--dark {
  background-color: rgb(46, 46, 46);
}

.cssTheme {
  padding: 5px;
  margin-top: 50px;
  border-radius: 10px;
  border: solid 2px gray;
  background-color: gainsboro;
  box-shadow: 6px 6px 22px -10px #2d2d2d;
  text-align: center;
}

.cssTheme--dark {
  background-color: transparent;
  border: solid 2px black;
}

.header {
  padding: 25px;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 0px 0px 10px 10px;
}

.footer {
  padding: 25px;
  border-radius: 10px 10px 0px 0px;
}
